.bg-banner {
  background-image: url('../src/Asset/photo-1552176625-e47ff529b595.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
}

.bg-banner2 {
  background-image: url('../src/Asset/2492629.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
}